<%= form_with(url: "/bookings/new", method: "get", local: true) do %>

	<% @result_flights.each do |flight| %>
	<%= radio_button_tag(:selected_flight, flight.id, { checked: true }) %>
	<%end%>
	
&nbsp&nbsp&nbsp


<div style="display: inline-block">
	<table>
  		<tr>
   	 <th>Flight Options<br><br></th>
   	 <th></th>
  		</tr>
  		<tr></tr>
  			<% @result_flights.each do |flight| %>
    	<tr>
      	<!--<td><%= check_box_tag(:result_here) %>
      		<%= label_tag(:result_here, "Label Here!") %>&nbsp
      	</td>-->
      	
			<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= flight.dep_airport.code %>&nbsp----></td>
	      <td><%= flight.arr_airport.code %>&nbsp</td>
	      <td>&nbsp&nbsp&nbsp<%= flight.dep_time %>&nbsp&nbsp</td>
	      <td><%= flight.duration %> hours</td>
	    </tr>

	  <% end %>
	</table>
</div>


<div style="display: inline-block">
	&nbsp&nbsp<%= submit_tag("Book the flight") %>
</div>

<% end %>
