<%= form_with(model: @passenger, local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email, required: true %>
  </p>
  <p>    
    <%= hidden_field_tag 'flight_id', @selected_flight_id%>    
    <%= hidden_field_tag 'passenger_n', @passenger_n%>
  </p>
  <p>
    <%= submit_tag("Book the flight") %>
  </p>
<% end %>
