<%#= form_with(model: [ @passenger, @passenger.bookings.build ], local: true) do |form| %>

<%= form_with(url: "/passengers/new", method: "get", local: true) do |form|%>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email, required: true %>
  <p>
    <%#= submit_tag("Check Your ID Information") %><!--not sure if this is necessary-->
  </p>
  </p>
  <p>
    <%= hidden_field_tag 'selected_flight', @selected_flight_id%>
    <%= hidden_field_tag 'passenger_n', @passenger_n%>
  </p>
  <p>
    <%= submit_tag("Book the flight") %>
  </p>
<% end %>
