<h1>Your Booking Information</h1>

<table>
  <tr>
    <th>Name&nbsp&nbsp&nbsp</th>
    <th>Email&nbsp&nbsp&nbsp</th>
    <th>Number of Passengers&nbsp&nbsp&nbsp</th>
  </tr>
  <% p = @passenger%>
  <% p.bookings.each do |b| %>
  <tr>
      <td><br><%= p.name %></td>
      <td><br>&nbsp&nbsp&nbsp<%= p.email %>&nbsp&nbsp&nbsp&nbsp</td>
      <td><br>&nbsp&nbsp&nbsp<%= b.passenger_n %>&nbsp&nbsp</td>
  </tr>    
</table>

<br><br>

<div style="display: inline-block">
	<table>
  		<tr>
   	 <th>Flight<br><br></th>
   	 <th></th>
  		</tr>
  		<tr></tr>
  			<% f = b.flight%>
    	<tr>     	
			<td>&nbsp&nbsp&nbsp&nbsp<%= f.dep_airport.code %>&nbsp----></td>
	      <td><%= f.arr_airport.code %>&nbsp</td>
	      <td>&nbsp&nbsp&nbsp<%= f.dep_time %>&nbsp&nbsp</td>
	      <td><%= f.duration %> hours</td>
	    </tr>
		
	<% end %>
	</table>
</div>
