<h1>Your Booking Information</h1>

<p><%= flash[:notice]%></p>
<br><br>
<table>
  <tr>
    <th>Name&nbsp&nbsp&nbsp</th>
    <th>Email&nbsp&nbsp&nbsp</th>
    
  </tr>
  <% p = @passenger%>  
  <tr>
      <td><br><%= p.name %></td>
      <td><br>&nbsp&nbsp&nbsp<%= p.email %>&nbsp&nbsp&nbsp&nbsp</td>      
  </tr>    
</table>

<br><br><br>

<div style="display: inline-block">
	<% p.bookings.each do |b| %>
	<table>
  		<tr>
   	 <th>Flight<br><br></th>
   	 <th></th>
   	 <th></th>
   	 <th></th>
   	 <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNumber of Passengers&nbsp&nbsp&nbsp</th>
   	 <th></th>
  		</tr>
  		<tr></tr>
  			<% f = b.flight%>
    	<tr>     	
			<td>&nbsp&nbsp&nbsp&nbsp<%= f.dep_airport.code %>&nbsp----></td>
	      <td><%= f.arr_airport.code %>&nbsp</td>
	      <td>&nbsp&nbsp&nbsp<%= f.dep_time %>&nbsp&nbsp</td>
	      <td><%= f.duration %> hours</td>
	      <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= b.passenger_n %></td>
	    </tr>
	</table>
	<br><br>	
	<% end %>

</div>
